.cart-panel .container {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 129px;
  gap: 16px;
}

.cart-panel-left {
  display: flex;
  flex-direction: column;
}

.added-products-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.added-product {
  display: flex;
  width: 652px;
  height: 306px;
  box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.added-product .image {
  width: 262px;
  height: 306px;
}

.added-product .description {
  display: flex;
  padding: 22px 31px 62px 31px;
  flex-grow: 1;
  flex-basis: 1px;
}

.added-product .text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 1px;
}

.added-product .description h2 {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin-bottom: 42px;
}

.added-product .description p {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  line-height: 30px;
}

.added-product .quantity {
  display: flex;
  align-items: center;
  gap: 25px;
}

.added-product .quantity .number {
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #eaeaea;
  padding: 0 20px;
  box-sizing: content-box;
}

.added-product .cross {
  width: 18px;
  height: 18px;
  align-self: flex-start;
}

.cart-edit-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.cart-edit-buttons .button {
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 17px 40px;
}

.cart-panel-right {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.shipping-adress {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.shipping-adress h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shipping-adress .input {
  padding: 13px 17px;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.shipping-adress .button {
  align-self: flex-start;
  border: 1px solid #a4a4a4;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  padding: 13px 17px;
}

.total-panel {
  padding: 40px 35px;
  display: flex;
  flex-direction: column;
  background-color: #f5f3f3;
}

.sub-total,
.grand-total {
  display: flex;
  gap: 25px;
  align-self: flex-end;
}

.sub-total {
  margin-bottom: 12px;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.grand-total {
  margin-bottom: 21px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.grand-total .marked-red {
  font-weight: normal;
}

.total-panel .separator {
  background-color: #e2e2e2;
  height: 1px;
  margin-bottom: 17px;
}

.total-panel .button {
  background-color: #f16d7f;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .cart-panel .container {
    flex-direction: column;
    padding-top: 59px;
    gap: 65px;
  }

  .cart-panel-right {
    flex-direction: row;
    gap: 16px;
  }

  .added-product {
    width: auto;
  }

  .cart-edit-buttons {
    margin-top: 62px;
    justify-content: normal;
    align-self: center;
    gap: 48px;
  }

  .shipping-adress {
    flex-grow: 1;
    flex-basis: 1px;
  }

  .total-panel {
    margin-top: 39px;
    align-self: flex-start;
  }
}

@media (max-width: 667px) {
  .category-panel .container {
    padding-top: 50px;
  }

  .cart-panel .container {
    gap: 48px;
    padding-bottom: 96px;
    padding-top: 39px;
  }

  .added-product {
    height: 188px;
  }

  .added-product .image {
    width: 144px;
    height: 188px;
  }

  .added-product .description {
    padding: 14px 17px 26px 17px;
  }

  .added-product .description h2 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
  }

  .added-product .description p {
    font-size: 14px;
    line-height: 17px;
  }

  .added-product .quantity .number {
    padding: 0 8px;
    font-size: 10px;
    line-height: 12px;
  }

  .added-product .cross {
    width: 10px;
    height: 10px;
  }

  .cart-edit-buttons {
    gap: 10px;
    align-self: auto;
    margin-top: 30px;
  }

  .cart-edit-buttons .button {
    font-size: 12px;
    line-height: 14px;
    color: #575757;
    padding: 9px 9px;
    flex-grow: 1;
    flex-basis: 1px;
  }

  .cart-panel-right {
    flex-direction: column;
    gap: 48px;
  }

  .total-panel {
    margin-top: 0;
    align-self: center;
  }
}
